@model Partner
@{
    ViewData["Title"] = "Partner Details";
}

<h1>Partner Details</h1>
<div class="row">
    <div class="col-md-4">
        <img src="~/images/@ViewBag.ImageFilename" 
             alt="@Model.Name Image" 
             class="img-responsive center-block"/>
    </div>

    <div class="col-md-8">
        <h2>@Model.Name</h2>
        <table class="table table-bordered table-striped">
            <tr>
                
                <td>Category</td>
                <td>@Model.CategoryID</td>
            </tr>
            <tr>
                <td>Partner</td>
                <td>@Model.Name</td>
   
            </tr>
            <tr>
                <td>Address</td>
                <td>@Model.Address</td>

            </tr>

            <tr>
                <td>Phone Number</td>
                <td>@Model.Phone</td>
            </tr>
        </table>
        <a asp-controller="Cart" asp-action="Add"
            asp-route-id="" class="btn btn-primary">Add to Favourites</a>
        
    </div>
</div>